.Card {
  display: flex;
  background-color: var(--clr-white);
  padding: 1rem;
  height: 620px;
  border-radius: 1rem;
  box-shadow: 0px 8px 25px hsla(213, 96%, 18%, 0.05);
}

.card-sidebar {
  width: 300px;
  background: url('../assets/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Styling for sidebar step Overview */
.sidebar-flex-container {
  margin: 2rem;
  display: flex;
  align-items: center;
}

.step-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: var(--fw-medium);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  margin-right: 1rem;
}

.step-active {
  color: var(--clr-marine-blue);
  background-color: var(--clr-light-blue);
}

.step-content-container {
  text-transform: uppercase;
}

.step-content-number {
  font-size: .825rem;
  color: var(--clr-cool-gray);
}

.step-content-category {
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  font-size: .9rem;
}

.card-content-container {
  width: 675px;
  /* background-color: aquamarine; */

}

.sidebar-mobile {
  display: none;
  visibility: hidden;
}

@media (max-width: 1020px) {
  .card-sidebar {
    width: 200px;
  
  }

  .card-content-container {
    width: 450px;
  }
}

@media (max-width: 700px) {
  .card-sidebar {
    display: none;
    visibility: hidden;
  }

  .sidebar-mobile {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: contain;
  }

  .sidebar-mobile-background {
    z-index: -9999;
    width: 100%;
  }

  .Card {
    position: absolute;
    top: 8rem;
    z-index: 9999;
    width: 90%;
    height: auto;
  }
}