.FormStep {
  position: relative;
  padding: 2rem 6rem;
  width: 100%;
  height: 100%;
}

.step-header {
  font-size: 2rem;
  color: var(--clr-marine-blue);
}

.step-subheader {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: var(--clr-cool-gray);
}

.form-group {
  color: var(--clr-marine-blue);
}

.label-group {
  display: flex;
  justify-content: space-between;
}

.label-group label {
  display: block;
  margin-bottom: .5rem;
}

.error-msg {
  color: var(--clr-strawberry-red);
  font-size: .825rem;
  font-weight: var(--fw-bold);
}

.input-text {
  padding: .5rem;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--clr-light-gray);
  color: inherit;
  font-weight: var(--fw-medium);
  margin-bottom: 1.5rem;
}

.input-text:active, 
.input-text:hover,
.input-text:focus {
  outline: 1px solid var(--clr-purplish-blue);
  caret-color: var(--clr-purplish-blue);
}

.error {
  border: 1px solid var(--clr-strawberry-red);
  color: var(--clr-strawberry-red);
  outline: 1px solid var(--clr-strawberry-red);
}

.error:active,
.error:hover,
.error:focus {
  outline: 1px solid var(--clr-strawberry-red);
}

/* Second Form Step */
.plans-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan-option {
  text-align: start;
  width: 31%;
  padding: 1rem;
  background: none;
  border: 1px solid var(--clr-light-gray);
  border-radius: 1rem;
  transition: border 200ms ease;
  cursor: pointer;
}

.plan-option-selected {
  background-color: var(--clr-alabaster);
  border: 1px solid var(--clr-purplish-blue);
}

.plan-option:hover,
.plan-option:focus {
  outline: none;
  border: 1px solid var(--clr-purplish-blue);
}

.plan-option-name {
  color: var(--clr-marine-blue);
  font-weight: var(--fw-medium);
}

.plan-option-subtext {
  font-size: .825rem;
  color: var(--clr-cool-gray);
}

.annual-plan-subtext {
  color: var(--clr-marine-blue);
  font-size: .825rem;
}

.plan-option-icon {
  margin-bottom: 3rem;
}

.payment-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--clr-gray);
}

.payment-option {
  font-weight: var(--fw-medium);
  color: var(--clr-cool-gray);
  transition: color 300ms ease;
  cursor: pointer;
}

.payment-selected {
  color: var(--clr-marine-blue);
  cursor: auto;
}

#switch {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.switch-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  display: block;
  margin: 0 1rem;
  border-radius: 30px;
  background-color: var(--clr-marine-blue);
  text-indent: -99999px;
  cursor: pointer;
}

.switch-toggle:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 4px;
  border-radius: 25px;
  background-color: white;
  transition: all 200ms ease;
}

#switch:checked + .switch-toggle:after {
  left: 22px;
}

.addon-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--clr-light-gray);
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.addon-checkbox {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}

.addon-checkbox:checked {
  accent-color: var(--clr-purplish-blue);
}

.addon {
  flex-grow: 1;
}

.addon-name {
  color: var(--clr-marine-blue);
  font-size: .9rem;
  font-weight: var(--fw-medium);
}

.addon-description {
  color: var(--clr-cool-gray);
  font-size: .825rem;
}

.addon-cost {
  color: var(--clr-purplish-blue);
  font-size: .825rem;
}

.addon-selected {
  background-color: var(--clr-alabaster);
  border: 1px solid var(--clr-purplish-blue);
}

.summary-container {
  padding: 1.5rem;
  background-color: var(--clr-alabaster);
}

.summary-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-light-gray);
  padding-bottom: 1rem;
}

.change-plan {
  text-decoration: underline;
  cursor: pointer;
}

.summary-addon-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.summary-addon-container:last-child {
  padding: 0;
}

.summary-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.total-cost {
  color: var(--clr-purplish-blue);
  font-weight: var(--fw-bold);
  font-size: 1.125rem;
}

.btn-back {
  background: none;
  position: absolute;
  bottom: 1.5rem;
  left: 6rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: var(--clr-cool-gray);
  transition: color 200ms ease;
  cursor: pointer;
  font-weight: var(--fw-bold);
}

.btn-back:hover,
.btn-back:focus {
  color: var(--clr-marine-blue)
}

.btn-back:focus {
  outline: 1px solid var(--clr-purplish-blue);
}

.btn-next {
  position: absolute;
  font-weight: var(--fw-medium);
  bottom: 1rem;
  right: 6rem;
  color: var(--clr-magnolia);
  background-color: var(--clr-marine-blue);
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 200ms ease;
}


.btn-next:hover,
.btn-next:focus {
  background-color: var(--clr-marine-blue-lighter);
  color: var(--clr-white);
}

.btn-next:focus {
  outline: none;
}

.btn-next:disabled {
  background-color: var(--clr-button-disabled);
  color: var(--clr-alabaster)
}

.btn-confirm {
  background-color: var(--clr-purplish-blue);
  color: var(--clr-white);
}

.btn-confirm:hover,
.btn-confirm:focus {
  background-color: var(--clr-purplish-blue-lighter);
}